<!-- header section strats -->
<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <span>
                    Timups
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home </a>
                    </li>
                    <li class="nav-item dropdown">
                        @await Component.InvokeAsync("CategoryMenu")
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="About" asp-action="Index"> About </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact Us</a>
                    </li>
                </ul>
                <div class="user_option-box">
                    <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <a asp-controller="ShoppingCart" asp-action="Index">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </a>
                    <a href="">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- end header section -->