@model Watch

<div class="col-sm-6 col-xl-3">
    <div class="box">
        <a href="">
            <div class="img-box">
                <img src="~/images/@Model.ImageUrl" alt="">
            </div>
            <div class="detail-box">
                <h6>
                    @Model.Name
                </h6>
                <h6>
                    Price:
                    <span>
                        $@Model.Price
                    </span>
                </h6>
            </div>
            <div class="new">
                <a id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-watchId="@Model.WatchId">
                    <i class="fas fa-cart-plus"></i>
                </a>
            </div>
        </a>
    </div>
</div> 